body {
    margin: 0;
    background-color: #ffffff;
}

.b0 {
    width: 100%;
    height: 120px;
    background-repeat:no-repeat;
    background-color: #93B5C9;
}

.b1 {
    background-color: #AB2849;
    height: 200px;
}

section {
    background-color: #AB2849;
    height: 100px;
    margin: 20px 0 0 350px;
}

.b2 {
    background-color: #AB2849;
    height: 100px;
    margin: 20px 30px 0 30px;
}